*{
	margin: 0px;
}
.bbdd
	{
		background:url(作业要求/img/body-bg.jpg);
		width: 1000px;
		/*height:950px;*/
		margin: 0 auto;
	}


.header
{
	/*border:solid 1px red;*/
	margin: 0 auto;
	height:90px;
	width: 1000px;
	background:white;
	/*margin-bottom: 10px;*/

	position:relative;
	border-bottom: 8px solid #CCCCCC;
	/*top: 0px;*/

}
#tjpg
	{
		padding: 30px 0px 0px 50px;

	}
#hjpg
	{
		position:absolute;
		top:0px;
		right: 35px;

	}

.jianju
	{
		height:10px;
		width: 1500px;
		background: #CCCCCC;
		margin: 0 auto;
		clear: both;
	}
		
.caidan
	{

		width: 1500px;
		height:30px;
		/*border:solid 1px;*/
		margin: 0 auto;
		background: #669934;

	}

#sy,#zkzhcx,#zkxx,#czmm,#wszrcx,#lxfs
	{
		width: 110px;
		height:30px;
		float: left;

		text-align: center;
		text-decoration: none;

	

	}

		a:link {color:green;}
		a:visited {color:black;} /* 已访问的链接 */
		a:hover {background-color:yellow;} /* 鼠标划过链接 */
		a:active {color:#0000FF;} /* 已选中的链接 */



.zktips
	{
		width: 1500px;
		height:120px;
		margin: 0 auto;
		clear: both;
	}
#zktips
	{
		width: 1500px;
		height:120px;
	}

.foot
	{
		margin-left: 195px;
	}
.leftfoot,.rightfoot
	{
		height:640px;
		width: 750px;
		/*border: solid 1px red;*/
		float: left;
		background:white;
	}

#zhuyi
{
	width: 750px;
	height:40px;
	margin-left:15px;
	border: solid 1px green;

	/*text-align: center;*/
}
.gonggao
	{
		width: 500px;
		height:620px;
		margin-left:15px;
		text-decoration: none;
		/*word-wrap:break-word;*/
	}

.yanse

	{
		color: red;
		font-weight:bold;
	}

.lanse
	{
		color: blue;
		font-weight:bold;
	}

.biaoti

	{
		font-size: 1.5em;

	}

.neirong

	{
		margin-left:15px;
		border: solid 1px green;
	}
a{
	color: black;
	text-decoration: none;

}

.shuru
	{
		float: left;

	}

.shuru1,.shuru2,.shuru3,.shuru4,
	{
		/*float: left;*/
		width: 700px;
		height:28px;
		margin-left:15px;
	}

#yibao
	{
		background: green;
		width: 150px;
		height:30px;
		float: left;
		margin-left:15px;
	}
#chongzhi
	{
		background: yellow;
		width: 150px;
		height:30px;
		float: left;

	}
	.shuru5
	{
		width: 200px;
		height:28px;

	}

.zishuaxin
{
	float: left;
}
.diceng
	{
		text-align: center;
		float: left;
		margin-left:593px;
		clear: both;
	}


.yejiao

	{
		width: 1500px;
		height:30px;
		/*border:solid 1px;*/
		margin: 0 auto;
		margin-left:195px;
		background: #669934;
		float: left;
	}